html {
  height: 100vh;
}

body {
  background-image: linear-gradient(180deg, #615dad, #ffc8da);
  max-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 48px;
}

p {
  margin: 0 10px 30px 10px;
  line-height: 1.5;
  font-size: 15px;
}

.hra {
  width: 350px;
  background-color: #283e50;
  margin: 40px auto;
  border-radius: 3% 3% 0 0;
}

.foto {
  width: 350px;
  border-radius: 3% 3% 0 0;
}
