html {
  height: 100vh;
}

body {
  background-image: linear-gradient(180deg, #615dad, #ffc8da);
  max-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
  font-family: sans-serif;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 48px;
}

p {
  margin: 0 10px 30px 10px;
  line-height: 1.5;
  font-size: 15px;
}

.hra {
  width: 350px;
  background-color: #283e50;
  margin: 40px auto;
  border-radius: 3% 3% 0 0;
}

.foto {
  width: 100%;
  border-radius: 3% 3% 0 0;
}

.tlacitka {
  padding: 0;
  margin: 0;
}

.tlacitka li {
  list-style: none;
}

.tlacitka a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 15px 0;
  color: #ffffff;
  text-align: center;
  border-top: 0.5px solid #283e50;
}

.pravidlaBtn {
  background-color: #1fcca4;
}

.pravidlaBtn:hover {
  background-color: #1cbb96;
}

.zacitHratBtn {
  background-color: #0197f6;
}

.zacitHratBtn:hover {
  background-color: #0090e9;
}

/* speciální styly pro stránku pravidla.html */

.strankaPravidla {
  display: flex;
  flex-wrap: nowrap;
  background-color: #283e50;
  flex-direction: column;
  width: 350px;
  margin: 50px auto;
  border-radius: 10px 10px 0 0;
}

ol.textPravidla {
  margin: 0px;
  padding: 0px 40px 30px 50px;
}

.textPravidla li {
  margin: 10px 0px 0px 0px;
  text-align: left;
}

.textPravidla {
  font-size: 15px;
}

figure {
  margin: 0 30px 50px 30px;
}

.kolecko,
.krizek {
  filter: invert(100%);
  width: 1em;
  height: 1em;
}

.ukazky {
  display: flex;
  flex-direction: column;
}

.ukazky figcaption {
  font-size: 15px;
  font-style: italic;
  margin-top: 10px;
}

.ukazky img {
  width: 100%;
}

.uvodniStrankaBtn {
  background-color: #1fcca4;
}

.uvodniStrankaBtn:hover {
  background-color: #1cbb96;
}

@media screen and (min-width: 600px) {
  .strankaPravidla {
    flex-wrap: wrap;
    width: 700px;
    align-content: space-between;
  }
  .ukazky {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 15px;
  }

  .ukazky figure {
    flex: 1 1 40%;
    padding: 0;
    margin: 30px 15px;
  }

  .textPravidla {
    font-size: 18px;
  }
}
