html {
  height: 100vh;
}

body {
  background-image: linear-gradient(180deg, #615dad, #ffc8da);
  max-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
  font-family: sans-serif;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 48px;
}

p {
  margin: 0 10px 30px 10px;
  line-height: 1.5;
  font-size: 15px;
}

.hra {
  width: 350px;
  background-color: #283e50;
  margin: 40px auto;
  border-radius: 3% 3% 0 0;
}

.foto {
  width: 100%;
  border-radius: 3% 3% 0 0;
}

.tlacitka {
  padding: 0;
  margin: 0;
}

.tlacitka li {
  list-style: none;
}

.tlacitka a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 15px 0;
  color: #ffffff;
  text-align: center;
  border-top: 0.5px solid #283e50;
}

.pravidlaBtn {
  background-color: #1fcca4;
}

.pravidlaBtn:hover {
  background-color: #1cbb96;
}

.zacitHratBtn {
  background-color: #0197f6;
}

.zacitHratBtn:hover {
  background-color: #0090e9;
}

/* styly pro stránku pravidla.html */

.strankaPravidla {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #283e50;
  width: 350px;
  margin: 50px auto;
  border-radius: 10px 10px 0 0;
}

ol.textPravidla {
  margin: 0px;
  padding: 0px 40px 30px 50px;
}

.textPravidla li {
  margin: 10px 0px 0px 0px;
  text-align: left;
}

.textPravidla {
  font-size: 15px;
}

figure {
  margin: 0 30px 50px 30px;
}

.kolecko,
.krizek {
  filter: invert(100%);
  width: 1em;
  height: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.ukazky {
  display: flex;
  flex-direction: column;
}

.ukazky figcaption {
  font-size: 15px;
  font-style: italic;
  margin-top: 10px;
}

.ukazky img {
  width: 100%;
}

.uvodniStrankaBtn {
  background-color: #1fcca4;
}

.uvodniStrankaBtn:hover {
  background-color: #1cbb96;
}

@media screen and (min-width: 750px) {
  .strankaPravidla {
    flex-wrap: wrap;
    width: 700px;
    align-content: space-between;
  }
  .ukazky {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 15px;
  }

  .ukazky figure {
    flex: 1 1 40%;
    padding: 0;
    margin: 30px 15px;
  }

  .textPravidla {
    font-size: 18px;
  }
}

/* styly pro stránku hra.html */

.strankaHra {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80vmin;
  min-height: 120vh;
  margin: 0 auto;
  padding-top: 20px;
}

.title {
  font-size: 70px;
}

.navigacniMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
}

.info {
  display: flex;
  align-items: baseline;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}
.btnRestart,
.btnHome {
  border-radius: 7px;
  border-style: none;
  padding: 0;
}
.btnHome:hover,
.btnHome:focus {
  background-color: #1cbb96;
}
.btnRestart:hover,
.btnRestart:focus {
  background-color: #0090e9;
}
.btnRestart {
  background-color: #0197f6;
}
.btnHome {
  background-color: #1fcca4;
}
.btnRestart a,
.btnHome a {
  display: block;
  padding: 8px 7px;
}
.hraciPole {
  display: flex;
  flex-wrap: wrap;
}
.hraciPole button {
  width: 8vmin;
  height: 8vmin;
  opacity: 0.5;
  border: 1px solid black;
  outline-color: #000;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-color: #eee;
}

.hraciPole button:hover,
.hraciPole button:focus {
  filter: brightness(200%);
}

/* styly specifické pro stránku hra.js */

.board__field--cross,
.krizek {
  background-image: url('images/cross.svg');
}
.board__field--circle,
.kolecko {
  background-image: url('images/circle.svg');
}

.board__field--circle,
.board__field--cross {
  animation-name: zvetseni;
  animation-duration: 0.2s;
}

@keyframes zvetseni {
  from {
    background-size: 0%;
  }
  to {
    background-size: 70%;
  }
}
